@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Tangerine:wght@400;700&family=Bonheur+Royale&family=Great+Vibes&display=swap");

@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

.tangerine-font {
  font-family: "Tangerine", cursive;
}

.bonheur-font {
  font-family: "Bonheur Royale", cursive;
}

.great-vibes-font {
  font-family: "Great Vibes", cursive;
}
